<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="co.ronash.pushe" android:installLocation="internalOnly" android:versionCode="100621" android:versionName="1.6.2-alpha01">
  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="25" tools:overrideLibrary="net.vrallev.android.cat, com.evernote.android.job" />
  <!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <!-- <uses-permission android:name="android.permission.BIND_JOB_SERVICE"/> -->
  <application>
    <!-- <service -->
    <!-- android:name="co.ronash.pushe.service.GcmService" -->
    <!-- android:permission="android.permission.BIND_JOB_SERVICE" -->
    <!-- android:exported="false"> -->
    <!-- <intent-filter android:priority="999"> -->
    <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
    <!-- </intent-filter> -->
    <!-- </service> -->
    <!-- <receiver -->
    <!-- android:name="co.ronash.pushe.receiver.FallbackGcmNetworkManagerReceiver" -->
    <!-- android:exported="true"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="co.ronash.pushe.CHECK_TASKS" /> -->
    <!-- </intent-filter> -->
    <!-- </receiver> -->
    <receiver android:name="co.ronash.pushe.receiver.BootAndScreenReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
      </intent-filter>
    </receiver>
    <service android:name="co.ronash.pushe.service.ScreenStateService">
      <intent-filter>
        <action android:name="co.ronash.pushe.service.ScreenStateService" />
      </intent-filter>
    </service>
    <receiver android:name="co.ronash.pushe.receiver.ConnectivityReceiver">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
    </receiver>
    <receiver android:name="co.ronash.pushe.receiver.AddReceiver" android:exported="false">
      <intent-filter>
        <action android:name="com.evernote.android.job.ADD_JOB_CREATOR" />
      </intent-filter>
    </receiver>
    <receiver android:name="co.ronash.pushe.receiver.AppChangeReceiver">
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_INSTALL" />
        <action android:name="android.intent.action.PACKAGE_ADDED" />
        <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <!-- <service -->
    <!-- android:name="co.ronash.pushe.service.FallbackGcmTaskRunner" -->
    <!-- android:exported="false"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="co.ronash.pushe.ACTION_TASK_READY" /> -->
    <!-- </intent-filter> -->
    <!-- </service> -->
    <!-- <service -->
    <!-- android:name="co.ronash.pushe.task.scheduler.gcm.GcmTaskRunner" -->
    <!-- android:exported="true" -->
    <!-- android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" /> -->
    <!-- </intent-filter> -->
    <!-- </service> -->
    <service android:name="co.ronash.pushe.service.IntentTaskRunner" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" />
    <!-- <service -->
    <!-- android:name="co.ronash.pushe.service.InstanceIDService" -->
    <!-- android:exported="false"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="com.google.android.gms.iid.InstanceID" /> -->
    <!-- </intent-filter> -->
    <!-- </service> -->
    <activity android:name="co.ronash.pushe.activities.PopupDialogActivity" android:theme="@style/PusheTransparent"></activity>
    <activity android:name="co.ronash.pushe.activities.WebviewActivity"></activity>
    <activity android:name="co.ronash.pushe.activities.RequestAccessDialogActivity" android:theme="@style/PusheTransparent"></activity>
    <service android:name="co.ronash.pushe.service.PusheActivityService" />
    <!-- <service -->
    <!-- android:name="com.evernote.android.job.gcm.PlatformGcmService" -->
    <!-- android:exported="true" -->
    <!-- android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/> -->
    <!-- </intent-filter> -->
    <!-- </service> -->
    <!-- Below service is required for standalone aar file -->
    <!-- <service -->
    <!-- android:name="com.evernote.android.job.v21.PlatformJobService" -->
    <!-- android:exported="false" -->
    <!-- android:permission="android.permission.BIND_JOB_SERVICE"/> -->
    <provider android:name="co.ronash.pushe.provider.PusheProvider" android:authorities="com.spgames.busparking.co.ronash.pushe.pusheprovider" android:enabled="true" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
    </provider>
    <service android:name="co.ronash.pushe.task.tasks.NetworkConnect" android:permission="android.permission.BIND_JOB_SERVICE" />
    <!-- <service android:name="co.ronash.pushe.receiver.PusheGcmReceiver" -->
    <!-- android:permission="android.permission.BIND_JOB_SERVICE" -->
    <!-- /> -->
    <!-- <provider -->
    <!-- android:name="com.google.firebase.provider.FirebaseInitProvider" -->
    <!-- android:authorities="${applicationId}.firebaseinitprovider" -->
    <!-- tools:node="remove" -->
    <!-- /> -->
    <service android:name="co.ronash.pushe.fcm.FcmService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <!-- <service -->
    <!-- android:name="com.evernote.android.job.gcm.PlatformGcmService" -->
    <!-- tools:node="remove"/> -->
    <receiver android:name="com.google.android.gms.gcm.GcmReceiver" tools:node="remove"></receiver>
    <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED" />
        <data android:path="com.spgames.busparking" android:scheme="package" />
      </intent-filter>
    </receiver>
  </application>
</manifest>